.row-grid {
  /* default: under '400px' */
  grid-template-columns: 75px auto 30px;
  /* xs: '400px' */
  @screen xs {
    grid-template-columns: 75px auto 30px;
  }
  /* sm: '600px' */
  @screen sm {
    grid-template-columns: 20px 75px auto 125px 125px 30px;
  }
  /* md: '960px' */
  @screen md {
    grid-template-columns: 20px 75px auto 125px 125px 125px 125px  30px;
  }
  /* xs: '1280px' */
  @screen lg {
    grid-template-columns: 20px 75px auto 125px 125px 125px 125px  30px;
  }
}
